#left-side {
  background-color: $sideBar;

  position: fixed;
  right: 0;

  height: 100vh;
  width: 25vw;
}

#intro {
  min-height: 20vh;
  border-bottom: 2px solid rgba(196, 196, 196, 0.3);

  display: grid;
  grid-template-columns: 3fr 1fr;
  p {
    color: whitesmoke;
    font-size: 2rem;
    text-align: right;
    font-family: "Roboto", sans-serif;
    margin: auto 5px;
  }
  #me-container {
    margin: auto;
    height: 65px;
    width: 65px;

    background-image: url("https://scontent.fcgp7-1.fna.fbcdn.net/v/t1.0-9/fr/cp0/e15/q65/75540242_795157887571190_4086058604958842880_o.jpg?_nc_cat=110&_nc_sid=7aed08&efg=eyJpIjoiYiJ9&_nc_eui2=AeGDhqgqaByhLesqfB4OWPKjA5dhLi2Ln2YDl2EuLYufZrLFFYahQQxxu8CSNVbeshokooxZ97D1RLtYTozFmzmY&_nc_ohc=beuAC4r3e9UAX9lrUUN&_nc_ht=scontent.fcgp7-1.fna&tp=14&oh=a2d6ff1f763f150bada586f7fe26421b&oe=5F755FB0");
    background-size: cover;

    border-radius: 50%;
  }
}

#start {
  cursor: pointer;
  user-select: none;

  margin: 4rem 3rem;
  border-bottom: 4px solid #fd423cab;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: whitesmoke;
    margin: 0px 5px;
    font-size: 1.5rem;
  }
}

#start:hover {
  border-bottom-color: $yellowColor;
}

#control {
  background-color: $cardColor;

  height: 25vh;
  margin: 0px 2rem;
  border-radius: 14px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  select {
    font-size: calc(0.5rem + 1.5vw);

    margin: 1rem;
    font-family: "Prata", serif;

    border: 1px solid whitesmoke;
    border-radius: 4px;
    background: none;
    color: whitesmoke;

    option {
      color: $cardColor;
      background: whitesmoke;
    }
  }

  div {
    display: flex;
    // flex-direction: column;     Mobile
    margin: 0rem 2rem;

    select {
      font-size: calc(0rem + 1.5vw);

      margin: 0.5rem;
      font-family: "Prata", serif;

      border: 1px solid whitesmoke;
      border-radius: 4px;
      background: none;
      color: whitesmoke;

      option {
        color: $cardColor;
        background: whitesmoke;
      }
    }
  }
}

#scramble {
  cursor: pointer;
  user-select: none;

  margin: 4rem 3rem;
  border-bottom: 2px solid #fd423cab;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: whitesmoke;
    margin: 0px 5px;
    font-size: calc(0.8rem + 0.8vw);
  }
}

#scramble:hover {
  border-bottom-color: $yellowColor;
}
