#right-side {
  // background-color: rgba(52, 125, 185, 0.123);
  width: 75vw;
  height: 100vh;
  h1 {
    color: #a1a1a1;
    text-align: right;
    padding: 5rem 5rem;
  }
  position: relative;
}

#chart-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 60vw;
}
