@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Prata", serif;
}

body {
  background-color: #212529;
}

#left-side {
  background-color: #272b2f;
  position: fixed;
  right: 0;
  height: 100vh;
  width: 25vw;
}

#intro {
  min-height: 20vh;
  border-bottom: 2px solid rgba(196, 196, 196, 0.3);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

#intro p {
  color: whitesmoke;
  font-size: 2rem;
  text-align: right;
  font-family: "Roboto", sans-serif;
  margin: auto 5px;
}

#intro #me-container {
  margin: auto;
  height: 65px;
  width: 65px;
  background-image: url("https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/75540242_795157887571190_4086058604958842880_o.jpg?_nc_cat=110&ccb=2&_nc_sid=174925&_nc_eui2=AeGDhqgqaByhLesqfB4OWPKjA5dhLi2Ln2YDl2EuLYufZrLFFYahQQxxu8CSNVbeshokooxZ97D1RLtYTozFmzmY&_nc_ohc=-hnKAHSsdgoAX9LwGiq&_nc_ht=scontent-sin6-2.xx&oh=5be9b8b0fc0dfb9c4b010a1b353eee55&oe=5FDCDCEE");
  background-size: cover;
  border-radius: 50%;
}

#start {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 4rem 3rem;
  border-bottom: 4px solid #fd423cab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#start p {
  color: whitesmoke;
  margin: 0px 5px;
  font-size: 1.5rem;
}

#start:hover {
  border-bottom-color: #febc2c;
}

#control {
  background-color: #3b4045;
  height: 25vh;
  margin: 0px 2rem;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#control select {
  font-size: calc(0.5rem + 1.5vw);
  margin: 1rem;
  font-family: "Prata", serif;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  background: none;
  color: whitesmoke;
}

#control select option {
  color: #3b4045;
  background: whitesmoke;
}

#control div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem 2rem;
}

#control div select {
  font-size: calc(0rem + 1.5vw);
  margin: 0.5rem;
  font-family: "Prata", serif;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  background: none;
  color: whitesmoke;
}

#control div select option {
  color: #3b4045;
  background: whitesmoke;
}

#scramble {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 4rem 3rem;
  border-bottom: 2px solid #fd423cab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#scramble p {
  color: whitesmoke;
  margin: 0px 5px;
  font-size: calc(0.8rem + 0.8vw);
}

#scramble:hover {
  border-bottom-color: #febc2c;
}

#right-side {
  width: 75vw;
  height: 100vh;
  position: relative;
}

#right-side h1 {
  color: #a1a1a1;
  text-align: right;
  padding: 5rem 5rem;
}

#right-side h1 a {
  text-decoration: none;
  color: #a1a1a1;
}

#chart-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60vw;
}

@media screen and (max-width: 850px) {
  #left-side {
    background-color: #272b2f;
    position: fixed;
    right: 0;
    height: 20vh;
    width: 100vw;
  }
  #start {
    margin: 3rem auto;
    margin-bottom: 1rem;
  }
  #control {
    background-color: #272b2f;
    height: 10vh;
    width: 100vw;
    border-radius: 0px;
    margin: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #control select {
    margin: 0rem 0rem 1rem 0rem;
    font-size: calc(0.9rem + 1.5vw);
  }
  #control div {
    margin: 0rem;
  }
  #control div select {
    font-size: calc(0.5rem + 1.5vw);
  }
  #scramble {
    cursor: pointer;
    margin: 0;
    position: fixed;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #right-side {
    width: 100vw;
    padding: 0;
  }
  #chart-container {
    width: 80vw;
    height: 50vh;
  }
}
/*# sourceMappingURL=style.css.map */